.burger-menu {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background-color: #000;
	padding: 7.4rem 5rem;
	transform: translateY(-100%);
	transition: 0.35s ease-in-out;
	z-index: 122;
	pointer-events: none;

	&.active {
		transform: translateY(0);
		pointer-events:all;
	}

	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;
	}

	&__home-icon {
		svg {
			width: 4.5rem;
			height: 4.5rem;

			path {
				fill: white;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__item {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-left: auto;
		align-items: center;
		span {
			color: $white;
			font-family: Manrope;
			font-size: 3.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
		}
	}

	&__close-btn {
		width: 100%;
		color: white;

		svg {
			display: block;
			margin-right: auto;
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}
