.burger-menu {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background-color: #000;
	padding: 7.4rem 5rem;
  -webkit-animation: slideIn 0.35s ease-in-out;
          animation: slideIn 0.35s ease-in-out;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__item {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-left: auto;
		align-items: center;
		margin-right: 2rem;
		span {
			color: $white;
			font-family: Manrope;
			font-size: 3.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.2rem;
			text-transform: uppercase;
		}
	}

	&__close-btn {
		width: 100%;
		margin-bottom: 4rem;
		color: white;


		svg {
      display: block;
			margin-right: auto;
			width: 3.5rem;
			height: 3.5rem;
		}
	}
}

@-webkit-keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {  
    transform: translateY(0);
  }
}