.cart-form {
	width: 100%;
	background-color: $gray;
	padding-top: 17.9rem;
	padding-bottom: 14.1rem;

	&__payment {
		&-message {
			display: flex;
			gap: 3.2rem;
			align-items: center;
		}
		&-icon {
			display: block;
			width: 4.8rem;
			height: 4.8rem;

			svg {
				width: 100%;
				height: 100%;
			}
		}
		&-text {
			color: #000;
			font-family: Manrope;
			font-size: 1.5rem;
			font-style: normal;
			font-weight: 500;
			line-height: 2.5rem;
			opacity: 0.5;
			width: 55.4rem;
		}
	}

	&__btn-wrapper {
		@include section-width;
		margin: 0 auto;
		.back-btn {
			margin-right: auto;
		}
	}

	&__wrapper {
		@include section-width;
		margin: 0 auto;
		display: flex;
		gap: 3rem;
		justify-content: space-between;
	}

	&__main {
		padding: 5.4rem 4.8rem 4.8rem;
		border-radius: 0.8rem;
		width: 73rem;
		background-color: white;
	}

	&__title {
		color: $black-dark;
		font-family: Manrope;
		font-size: 3.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 3.6rem;
		letter-spacing: 0.1143rem;
		text-transform: uppercase;
		margin-bottom: 4.1rem;
	}

	&__section {
		&:not(:last-child) {
			margin-bottom: 5.3rem;
		}
	}

	&__section-title {
		color: $orange;
		font-family: Manrope;
		font-size: 1.3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2.5rem;
		letter-spacing: 0.0929rem;
		text-transform: uppercase;
		margin-bottom: 1.6rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 0.9rem;
		width: 30.2rem;

		&--large {
			width: 100%;
		}

		&--chekers {
			width: 100%;
			justify-content: space-between;
			flex-direction: row;

			p {
				color: $black-dark;
				font-family: Manrope;
				font-size: 1.2rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.0214rem;
			}

			input {
				position: absolute;
				opacity: 0;
			}

			label {
				cursor: pointer;
				display: block;
				width: 100%;
				border-radius: 0.8rem;
				border: 0.1rem solid #cfcfcf;
				position: relative;
				display: flex;
				justify-content: space-between;

				span {
					color: $black-dark;
					width: -webkit-fit-content;
					width: -moz-fit-content;
					width: fit-content;
					font-family: Manrope;
					font-size: 1.4rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.025rem;
					outline: none;
					display: block;
					padding: 1.8rem 5.2rem;
				}
			}
		}

		label {
			color: $black-dark;
			font-family: Manrope;
			font-size: 1.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.0214rem;

			display: flex;
			width: 100%;
			justify-content: space-between;
		}

		input {
			border-radius: 0.8rem;
			border: 0.1rem solid #cfcfcf;
			background: white;
			padding: 1.8rem 2.4rem;

			color: $black-dark;
			font-family: Manrope;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.025rem;
			outline: none;

			&:focus {
				border-color: $orange !important;
			}
		}

		&.error {
			label {
				span {
					font-weight: 700;
					color: #cd2c2c;
				}

				div {
					span {
						color: #cd2c2c;
						text-align: right;
						font-family: Manrope;
						font-size: 1.4rem;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						letter-spacing: -0.0114rem;
					}
				}
			}

			input {
				border: 0.2rem solid #cd2c2c;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 2.4rem 1.6rem;
	}

	&__radio-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		width: 30.2rem;
		position: relative;
		left: -0.3rem;
	}

	input[type='radio']:checked + label {
		border: 0.1rem solid $orange;
	}

	input[type='radio']:checked + label .checker__oval-2 circle {
		fill: $orange;
	}

	.checker {
		position: absolute;
		width: 2rem;
		height: 2rem;
		top: 1.8rem;
		left: 1.8rem;
		&__oval-1 {
			width: 100%;
			height: 100%;
			position: relative;
			svg {
				width: 100%;
				height: 100%;
			}
		}

		&__oval-2 {
			width: 1rem !important;
			height: 1rem !important;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			circle {
				fill: #fff;
			}
		}
	}
}

@media (max-width: 48em) {
	* {
		box-sizing: border-box;
	}
	.cart-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		&__wrapper {
			width: 65.4rem;
			display: flex;
			flex-direction: column;
			gap: 6.4rem;
		}

		&__main {
			width: 65.4rem;
			border-radius: 1.6rem;
			padding: 4.8rem 4.8rem 6.4rem 4.8rem;
		}

		&__list {
			width: 100%;
			gap: 4.8rem;
		}

		&__title {
			font-size: 5.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.2rem;
			margin-bottom: 6.2rem;
		}

		&__section-title {
			font-size: 2.6rem;
			font-style: normal;
			font-weight: 700;
			line-height: 5rem; /* 192.308% */
			letter-spacing: 0.18rem;
			margin-bottom: 3.2rem;
		}

		&__item {
			gap: 1.8rem;
			width: 100%;

			label {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: space-between;
				span {
					font-size: 2.4rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.0428rem;
				}

				div {
					span {
						font-size: 2.4rem !important;
						letter-spacing: -0.0428rem !important;
					}
				}
			}

			input {
				width: 100%;

				padding: 3.6rem 4.8rem;
				border-radius: 1.6rem;

				font-size: 2.8rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.05rem;
			}
		}

		&__item--chekers {
			flex-direction: column;
			gap: 3.4rem;

			p {
				font-size: 2.4rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.0428rem;
			}
		}

		&__radio-wrapper {
			width: 100%;
			gap: 3.2rem;

			label {
				border-radius: 1.6rem;
				height: 11.2rem;

				span {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 2.8rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -0.05rem;
					padding-left: 10.4rem;
				}

				.checker {
					top: 50%;
					transform: translateY(-50%);
					width: 4rem;
					height: 4rem;
					left: 3.2rem;
					&__oval-2 {
						width: 2rem !important;
						height: 2rem !important;
					}
				}
			}
		}

		.price-info {
			width: 100%;
			padding: 6.4rem 4.8rem;
			border-radius: 1.6rem;

			&__title {
				font-size: 3.6rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: 0.26rem;
				margin-bottom: 6.2rem;
			}

			&__total-box {
				gap: 1.6rem;
			}

			&__price {
				span {
					font-size: 3rem;
					font-style: normal;
					font-weight: 500;
					line-height: 5rem;
				}

				strong {
					font-size: 3.6rem;
					font-style: normal;
					font-weight: 700;
				}
			}

			.btn {
				margin-top: 6.4rem;
			}

			&__item {
				gap: 3.2rem;
				position: relative;
			}

			&__item.error label div span {
				color: #cd2c2c;
				text-align: right;
				font-family: Manrope;
				font-size: 2.7rem;
			}
			&__content-col {
				strong {
					font-size: 3rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}

				span {
					font-size: 2.8rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}
			}

			&__list {
				margin-bottom: 6.4rem;
				gap: 4.8rem;
			}

			&__content {
				span {
					font-size: 3rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}
			}

			&__item-img {
				min-width: 12.8rem;
				min-height: 12.8rem;
				width: 12.8rem;
				height: 12.8rem;
				border-radius: 1.6rem;
				overflow: hidden;
			}
		}

		.payment-approve {
			z-index: 0;
			border-radius: 1.6rem;
			padding: 6.4rem;
			width: 65.4rem;
			pointer-events: none;

			&__icon {
				width: 12.8rem;
				height: 12.8rem;
				margin-bottom: 4.6rem;
			}

			&__title {
				font-size: 4.8rem;
				font-style: normal;
				font-weight: 700;
				line-height: 116.667%;
				letter-spacing: 0.172rem;
				margin-bottom: 3.2rem;
				width: 51.6rem;
			}

			&__subtitle {
				font-size: 3rem;
				font-style: normal;
				font-weight: 500;
				line-height: 5rem;
				margin-bottom: 4.8rem;
			}

			&__example {
				padding: 4.8rem;
			}

			&__content {
				width: 100%;
				display: flex;
				flex-direction: column;
				border-radius: 1.6rem;

				span {
					font-size: 2.8rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}
			}

			&__item {
				width: 100%;
				gap: 3.2rem;
				padding-bottom: 2.4rem;
				margin-bottom: 2.4rem;
			}

			&__others {
				font-size: 2.4rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.0428rem;
			}

			&__item-info {
				strong {
					font-size: 3rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}

				span {
					font-size: 3rem;
					font-style: normal;
					font-weight: 700;
					line-height: 5rem;
				}
			}

			&__item-img {
				width: 11rem;
				height: 11rem;
				min-width: 11rem;
				min-height: 11rem;
			}

			.btn {
				width: 100%;
			}

			&__total-box {
				width: 100%;
				gap: 1.6rem;
				padding: 3rem 4.8rem;
				span {
					font-size: 3rem;
					font-style: normal;
					font-weight: 500;
					line-height: 5rem;
				}

				strong {
					font-size: 3.6rem;
					font-style: normal;
					font-weight: 700;
				}
			}
		}
	}
}
