.footer {
	background-color: $black-dark;
	padding: 7.5rem 16.5rem 4.8rem;
	display: flex;
	flex-direction: column;

	&__wrapper {
		@include section-width;
		margin: 0 auto;
		position: relative;

		&::after {
			content: '';
			width: 10.1rem;
			height: 0.4rem;
			position: absolute;
			left: 0rem;
			top: -7.48rem;
			background-color: $orange;
		}
	}

	&__nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3.6rem;
	}

	&__nav {
		display: flex;
		align-items: center;
		gap: 3.4rem;
	}

	&__content {
		width: 100%;
		align-items: flex-end;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5.6rem;
	}

	&__message {
		color: $white;
		font-family: Manrope;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		opacity: 0.5;
		line-height: 2.5rem;
		width: 54rem;
	}

	&__link-icons {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__icon {
		width: 2.4rem;
		height: 2.4rem;
		cursor: pointer;
		path {
			transition: $basic-duration;
		}
	}

	&__rights-block {
		color: $white;
		font-family: Manrope;
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 500;
		opacity: 0.5;
		line-height: 2.5rem;
	}
}

@media (hover: hover) {
	.footer__icon:hover {
		path {
			fill: $orange;
		}
	}
}

@media (max-width: 48em) {
	.footer {
		overflow: hidden;
		padding: 6rem 3.9rem 4.6rem;

		&__link-icons {
			gap: 3.2rem;
			margin: 0 auto;
		}

		&__icon {
			height: 4.8rem;
			width: 4.8rem;
		}

		&__wrapper {
			::after {
				top: -6rem;
			}
		}

		.nav-link {
			font-size: 2.6rem;
			font-weight: 700;
			line-height: 5rem;
			letter-spacing: 0.4rem;
		}

		.main-logo {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			margin: 0 auto;
			width: 28.6rem;
			height: 5rem;
		}

		&__nav {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
		}

		&__nav-wrapper {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			gap: 9.6rem;
			margin-bottom: 9.6rem;
		}

		&__content {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			gap: 24.2rem;
			margin-bottom: 0rem;
		}

		&__rights-block {
			display: flex;
			flex-direction: column;

			font-size: 3rem;
			font-style: normal;
			font-weight: 500;
			line-height: 5rem;

			width: -webkit-fit-content;

			width: -moz-fit-content;

			width: fit-content;
			margin: 0 auto;
			position: relative;
			bottom: 20rem;
		}

		&__message {
			width: 65.4rem;
			margin: 0 auto;
			text-align: center;
			font-size: 3rem;
			font-style: normal;
			font-weight: 500;
			line-height: 5rem;
		}
	}
}
