.hero {
	width: 100%;
	background-color: #121212;
  margin-bottom: 12rem;

  &__wrapper {
    width: 111rem;
    height: 72.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

	&__img {
		width: 70.88rem;
	}

  &__content {
    display: flex;
    flex-direction: column;
    width: 36.6rem;
    margin-bottom: 15.1rem;
  }
}
