//цвета
$orange: #d87d4a;
$orange-light: #fbaf85;
$black: #101010;
$gray: #f1f1f1;
$light: #fafafa;
$white: #ffffff;
$black-dark: #000000;

//величины
@mixin section-width() {
	width: 111rem;

	@media (max-width: 48em) {
		width: 100%;
	}
}

//длинная анимаций
$basic-duration: 0.4s;

//шрифты
@font-face {
	font-family: 'Manrope';
	src: url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
}
